/* scroll */
.scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  z-index: 111111;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  /* background: rgba(0,0,0,0.3); */
  position: relative;
}

/* sec1 */
canvas {
  position: fixed;
  z-index: 8000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* //canvas */

.line_css_wrap {
  position: fixed;
  width: 100%;
  height: 670px;
  left: 0;
  top: 10%;
  z-index: 8003;
}
.line_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}
.line_css_wrap span {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #5b5b5b;
  position: absolute;
  left: 0;
}
.line_css_wrap .top_line {
  top: 0;
}
.line_css_wrap .bottom_line {
  bottom: 0;
}

/* //line_css_wrap */

.css_content_wrap {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 8004;
  overflow: hidden;
  /* background-color: ; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.slider {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.slider.is-grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  pointer-events: none;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60vw;
  height: 60vh;
  padding: 1rem;
}

.css_cont {
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 400px;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

.slide__title {
  position: relative;
  color: #fff;
  font-size: calc(1rem + 3vw);
  font-weight: normal;
  z-index: 2;
}

.text {
  position: absolute;
  color: #666;
  left: 4rem;
  bottom: 3rem;
}

.cursor-wrap {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.cursor {
  position: fixed;
  top: -30px;
  left: -30px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  overflow: hidden;
  perspective: 1000px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.circle {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: rotate 5s infinite;
  animation: rotate 5s infinite;
  transform-origin: center center;
}

div.side {
  width: 200px;
  height: 200px;
  transform: rotateX(0deg);
  border-radius: 50%;
  position: absolute;
  border: 1px solid #000;
}

div.side:nth-child(2) {
  transform: rotateX(30deg);
}

div.side:nth-child(3) {
  transform: rotateX(60deg);
}

div.side:nth-child(4) {
  transform: rotateX(90deg);
}

div.side:nth-child(5) {
  transform: rotateX(120deg);
}

div.side:nth-child(6) {
  transform: rotateX(150deg);
}
@-webkit-keyframes rotate {
  0% {
    transform: rotateX(0) rotateZ(0);
  }
  20% {
    transform: rotateX(60deg) rotateZ(0);
  }
  40% {
    transform: rotateX(60deg) rotateZ(60deg);
  }
  60% {
    transform: rotateX(60deg) rotateZ(60deg) rotateX(90deg);
  }
  80% {
    transform: rotateY(120deg) rotateX(120deg) rotateZ(30deg);
  }
  100% {
    transform: rotateY(0) rotateX(0) rotateZ(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(0) rotateZ(0);
  }
  20% {
    transform: rotateX(60deg) rotateZ(0);
  }
  40% {
    transform: rotateX(60deg) rotateZ(60deg);
  }
  60% {
    transform: rotateX(60deg) rotateZ(60deg) rotateX(90deg);
  }
  80% {
    transform: rotateY(120deg) rotateX(120deg) rotateZ(30deg);
  }
  100% {
    transform: rotateY(0) rotateX(0) rotateZ(0);
  }
}
/* //css animation 1 */

.css_cont02 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}
.wrapper {
  position: absolute;
  animation: x 1s ease-in-out alternate infinite 0s both;
}

.wrapper:nth-of-type(2) > div {
  height: 40px;
  width: 40px;
  opacity: 0.8;
}

.wrapper:nth-of-type(3) > div {
  height: 30px;
  width: 30px;
  opacity: 0.6;
}

.wrapper:nth-of-type(4) > div {
  height: 20px;
  width: 20px;
  opacity: 0.4;
}

.wrapper:nth-of-type(5) > div {
  height: 10px;
  width: 10px;
  opacity: 0.2;
}

.wrapper > div {
  background: #fff;
  border-radius: 100%;
  height: 50px;
  margin: 40px;
  width: 50px;
  animation: y 1s linear infinite 0s both;
}
.wrapper:nth-of-type(2),
.wrapper:nth-of-type(2) > div {
  animation-delay: 0.1s;
}
.wrapper:nth-of-type(3),
.wrapper:nth-of-type(3) > div {
  animation-delay: 0.2s;
}
.wrapper:nth-of-type(4),
.wrapper:nth-of-type(4) > div {
  animation-delay: 0.3s;
}
.wrapper:nth-of-type(5),
.wrapper:nth-of-type(5) > div {
  animation-delay: 0.4s;
}

@-webkit-keyframes x {
  0% {
    transform: translate(-100px, 0);
  }
  100% {
    transform: translate(100px, 0);
  }
}

@keyframes x {
  0% {
    transform: translate(-100px, 0);
  }
  100% {
    transform: translate(100px, 0);
  }
}

@keyframes y {
  25% {
    transform: translate(0, -50px);
  }
  0%,
  50%,
  100% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, 50px);
  }
}
/* //css animation 2 */

.css_cont03 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
    radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
}
.wava_circle {
  width: 10px;
  height: 10px;
  background: #fff;
  margin: 5px 10px;
  border-radius: 50%;
  transform-origin: top center;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(0.9);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}
.wave_circles .row {
  display: flex;
  flex: 0 1 100%;
}

.wave_circles .row:nth-child(1) .wava_circle {
  animation-delay: 100ms;
}
.wave_circles .row:nth-child(2) .wava_circle {
  animation-delay: 200ms;
}
.wave_circles .row:nth-child(3) .wava_circle {
  animation-delay: 300ms;
}
.wave_circles .row:nth-child(4) .wava_circle {
  animation-delay: 400ms;
}
.wave_circles .row:nth-child(5) .wava_circle {
  animation-delay: 500ms;
}
.wave_circles .row:nth-child(6) .wava_circle {
  animation-delay: 600ms;
}
.wave_circles .row:nth-child(7) .wava_circle {
  animation-delay: 700ms;
}
.wave_circles .row:nth-child(8) .wava_circle {
  animation-delay: 800ms;
}
.wave_circles .row:nth-child(9) .wava_circle {
  animation-delay: 900ms;
}
.wave_circles .row:nth-child(10) .wava_circle {
  animation-delay: 1000ms;
}
/* //css animation 3 */

.css_cont04 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
}
.rotate_circles {
  width: 20px;
  height: 100px;
  animation: secondRotate ease-in-out 1s infinite;
}
.rotate_circles .circle1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}
.rotate_circles .circle2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 60px;
}
@keyframes secondRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* //css animation 4 */
