.cube_sec {
  width: 100%;
  perspective: 1000px;
  position: fixed;
  top: 30%;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  transition: 0.8s;
  opacity: 1;
}
.cube_sec.hide {
  left: -200%;
}
.cube_box {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.cube {
  position: relative;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotatey(-30deg);
  animation: rotate 8s linear infinite;
  animation-play-state: running;
  margin-bottom: 400px;
}
.cube > div {
  display: block;
  position: absolute;
  top: 0%;
  left: 0;
  width: 200px;
  height: 200px;
  opacity: 0.75;
  color: #fff;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
.cube > div:nth-child(1) {
  transform-origin: center top;
  transform: rotateX(90deg) translateY(-100px);
  /* animation: top 4s 8s ease-in-out infinite; */
}
.cube > div:nth-child(2) {
  transform: rotateX(-90deg) translateY(100px);
  transform-origin: center bottom;
  /* animation: bottom 4s 8s ease-in-out infinite; */
}
.cube > div:nth-child(3) {
  transform-origin: left center;
  transform: rotateY(-90deg) translateX(-100px);
  /* animation: left 4s 8s ease-in-out infinite; */
}
.cube > div:nth-child(4) {
  transform-origin: right center;
  transform: rotateY(90deg) translateX(100px);
  /* animation: right 4s 8s ease-in-out infinite; */
}
@keyframes rotate {
  0% {
    transform: rotatex(0) rotatey(0) rotatez(0) translatez(0);
  }
  100% {
    transform: rotatex(360deg) rotatey(360deg) rotatez(360deg) translatez(0);
  }
}

/* scroll */
.scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  z-index: 99999;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  /* background: rgba(0,0,0,0.3); */
  position: relative;
}
