*,
*::before,
*::after {
  box-sizing: border-box;
}

/* layout */
body {
  height: 7000px;
  background: #23222c;
}
#section1 {
  height: 7000px;
  background: #23222c;
}
/* //layout */

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-top: 1px solid #5b5b5b;
  padding: 20px 30px 30px 40px;
  display: flex;
  justify-content: space-between;
}
.header h1 {
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
}
.header h1 > span {
  display: inline-block;
}
.header a {
  color: #fff;
}

/* //header */
.cube_sec {
  width: 100%;
  perspective: 1000px;
  position: fixed;
  top: 30%;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  transition: 0.3s;
  opacity: 1;
}
.cube_box {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.cube {
  position: relative;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotatey(-30deg);
  animation: rotate 8s linear infinite;
  animation-play-state: running;
  margin-bottom: 400px;
}
.cube > div {
  display: block;
  position: absolute;
  top: 0%;
  left: 0;
  width: 200px;
  height: 200px;
  opacity: 0.75;
  color: #fff;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
.cube > div:nth-child(1) {
  transform-origin: center top;
  transform: rotateX(90deg) translateY(-100px);
  /* animation: top 4s 8s ease-in-out infinite; */
}
.cube > div:nth-child(2) {
  transform: rotateX(-90deg) translateY(100px);
  transform-origin: center bottom;
  /* animation: bottom 4s 8s ease-in-out infinite; */
}
.cube > div:nth-child(3) {
  transform-origin: left center;
  transform: rotateY(-90deg) translateX(-100px);
  /* animation: left 4s 8s ease-in-out infinite; */
}
.cube > div:nth-child(4) {
  transform-origin: right center;
  transform: rotateY(90deg) translateX(100px);
  /* animation: right 4s 8s ease-in-out infinite; */
}
@keyframes rotate {
  0% {
    transform: rotatex(0) rotatey(0) rotatez(0) translatez(0);
  }
  100% {
    transform: rotatex(360deg) rotatey(360deg) rotatez(360deg) translatez(0);
  }
}
/* //cube */

.next_btn {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.next_btn p {
  display: block;
  width: 400px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* background-color: #23222c; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  position: relative;
  left: 0;
  top: 0;
  cursor: pointer;
  transition: 0.8s;
}
.next_btn p:hover {
  font-size: 24px;
  font-weight: 400;
}
.next_btn p::before,
.next_btn p::after {
  content: '';
  display: block;
  width: 400px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  transition: 0.8s;
}
.next_btn p::before {
  left: -30px;
  top: 30px;
}
.next_btn p::after {
  left: 30px;
  top: -30px;
}
.next_btn p:hover::before,
.next_btn p:hover::after {
  left: -1px;
  top: -1px;
}
/* //next_btn */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #5b5b5b;
  padding: 20px 30px 30px 80px;
}
.footer h2 {
  position: relative;
  width: 100%;
  height: 65px;
  font-size: 3vw;
  color: #fff;
  margin-bottom: 20px;
}
.footer h2 p {
  position: absolute;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 100;
}
.footer p {
  color: #fff;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 200;
}
.footer .page_num {
  position: relative;
  width: 100%;
}
.footer .page_num .page_icon_sec {
  position: absolute;
  left: -60px;
  top: 0;
  width: 45px;
  height: 20px;
  display: flex;
  align-items: center;
}
.footer .page_num .page_icon_sec .page_icon {
  width: 20px;
  height: 20px;
  background-image: url(../img/small_circle.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-right: 5px;
  position: relative;
}
.footer .page_num .page_icon_sec .page_icon::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #604bb7;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.footer .page_num .page_icon_sec .page_icon_num {
  font-size: 14px;
  position: relative;
  width: 20px;
  height: 20px;
}
.footer .page_num .page_icon_sec .page_icon_num::after {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.14);
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}
.footer .page_num .page_icon_sec .page_icon_num p {
  position: absolute;
}
.footer .page_num .right_page_text {
  position: absolute;
  right: 30px;
  bottom: 99px;
}
.footer .page_num .right_page_text .top_right {
  width: 50px;
  height: 30px;
  font-size: 13px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  position: relative;
  display: flex;
  justify-content: center;
}
.footer .page_num .right_page_text .top_right p {
  position: absolute;
}
.footer .page_num .right_page_text .bottom_right {
  width: 50px;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
}
.footer .page_nav {
  position: absolute;
  left: 340px;
  bottom: 90px;
}
.footer .page_nav .next_btns {
  display: flex;
}
.footer .page_nav .next_btns p {
  cursor: pointer;
  margin-left: 40px;
}
.footer .page_nav .next_btns p:nth-child(1) {
  margin-left: none;
}
/* //footer */

/* scroll */
.scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  /* background: rgba(0,0,0,0.3); */
  position: relative;
}
